beautifulsoup4==4.12.3
black==24.4.2
bottle==0.12.25
cffi==1.16.0
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
Markdown==3.6
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
proxy_tools==0.1.0
pycparser==2.22
pythonnet==3.0.3
pywebview==5.1
soupsieve==2.5
tkinterhtml==0.7
typing_extensions==4.12.2
